@font-face {
  font-family: "Pretendard Variable";
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
  src: local("Pretendard Variable"),
    url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/packages/pretendard/dist/web/variable/woff2/PretendardVariable.woff2")
      format("woff2-variations");
}

:root {
  --Font-base: Pretendard Variable, Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, Helvetica Neue, Segoe UI,
    Apple SD Gothic Neo, Noto Sans KR, Malgun Gothic, "Apple Color Emoji",
    "Segoe UI Emoji", Segoe UI Symbol, sans-serif;
}

body {
  font-family: var(--Font-base);
}

:root {
  /* Theme variables will be set dynamically by the theme system */
  --page-width: 75rem;
  --notion-fore-default: var(--color-fg);
  --box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.1);
  --box-shadow-light: 2px 2px 8px 2px rgba(0, 0, 0, 0.05);
  --box-border: 1px solid #00000020;
  --box-border-light: 1px solid #00000010;
}

body {
  background: var(--color-bg);
  color: var(--color-fg);
  padding: 0px;
  margin: 0px;
}

* {
  box-sizing: border-box;
}
